<!-- start cover -->
<section>
    <div class="ui centered grid">
        <h1 class="ui large header">TAG: {{tag.name}}</h1>
        <div class="meta-info">
            <span>Total {{plural pagination.total empty='0 Post' singular='% Post' plural='% Posts'}}</span>
        </div>
        {{#if tag.description}}
        <p class="tag-description">{{tag.description}}</p>
        {{/if}}
    </div>
</section>
<!-- end cover -->