<!-- start cover -->
<section class="cover cover-tag {{#if tag.feature_image}}has-image{{/if}}" {{#if tag.feature_image}} style="background-image: url({{tag.feature_image}});"{{/if}}>
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<div class="cover-content-wrap align-center">
					<h1 class="tag-title">Tag: {{tag.name}}</h1>
					<div class="meta-info">
						<span>Total {{plural pagination.total empty='0 Post' singular='% Post' plural='% Posts'}}</span>
					</div>
					{{#if tag.description}}
					<p class="tag-description">{{tag.description}}</p>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end cover -->