<!-- start footer -->
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="ui two column centered grid">
                <div class="column">
                    {{> widget-subscribe}}
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="ui center aligned grid">
            <div class="column">
                <div class="ui center aligned container">
                    {{navigation}}
                </div>
            </div>
        </div>
        <div class="ui four column center aligned grid">
            <div class="column">
                <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; 2017-{{date format="YYYY"}}
                <!--Powered by <a href="https://ghost.org/">Ghost</a>-->
            </div>
        </div>
    </div>

</footer>
<!-- end footer -->
<span class="back-to-top pull-right" id="back-to-top"><i class="fa fa-angle-up"></i></span>
{{> search-modal}}