<!-- start footer -->
<footer class="site-footer">
    <div class="footer-bottom">
        <div class="ui center aligned grid">
            <div class="column">
                <div class="ui center aligned container">
                    {{navigation}}
                </div>
            </div>
        </div>
        <div class="ui four column center aligned grid">
            <div class="column">
                <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; 2017-{{date format="YYYY"}}
                <!--Powered by <a href="https://ghost.org/">Ghost</a>-->
            </div>
        </div>
    </div>

</footer>
<!-- end footer -->