<!-- start footer -->
<footer class="site-footer">
    <div class="footer-bottom">
        <div class="ui center aligned grid">
            <div class="column">
                <div class="ui center aligned container">
                    {{navigation}}
                </div>
            </div>
        </div>
        <div class="ui four column center aligned grid">
            <div class="column">
                <a href="{{@blog.url}}">The Sign.al &copy; 2017-2018</a>
            </div</div>
    </div>
</footer>
