<!-- start header -->
<div class="ui text menu" id="header">

    <!-- icon -->
    <a href="/" class="item" id="logo-group">
        <img id="logo" src="{{@blog.logo}}">
        <div id="lockup">{{@blog.title}}</div>
    </a>


    <!-- navigation menu on left -->
    <div class="ui right dropdown item">
        {{navigation}}

        {{> search-modal}}

    </div>
</div>
