<!-- start header -->
<div class="ui text menu">

	<!-- icon -->
	<a href="{{@blog.url}}">
	  <div class="item">
	  	<img src="{{@blog.logo}}">
	  </div>
	</a>

<!-- navigation menu on left -->
  <div class="ui right dropdown item">
		{{navigation}}
	<!-- </nav> -->

	{{> search-modal}}

    </div>
  </div>
</div>
