<!-- start pagination -->
{{#if prev}}
  <a class="ui animated button" href="{{page_url prev}}">
    <div class="visible content">NEWER</div>
    <div class="hidden content">
      <i>← </i>
    </div>
  </a>
{{/if}}
&nbsp;&nbsp; PAGE {{page}} &nbsp;&nbsp;&nbsp;
{{#if next}}
  <a class="ui animated button" href="{{page_url next}}">
    <div class="visible content">OLDER</div>
    <div class="hidden content">
      <i>→</i>
    </div>
  </a>
{{/if}}
<!-- end pagination -->
