

<div class="ui special modal transition" id="searchmodal">
  <i class="close icon"></i>
  <div class="header">
    Search
  </div>

<!-- fluid, loading: https://semantic-ui.com/modules/search.html -->
  <div class="content">
    <div class="ui search">
      <div class="ui icon input">
        <input type="text" id="search-input" placeholder="Enter to Search ...">
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>

    <div id="search-results"></div>
  </div>



  <div class="actions">
    <div class="ui black deny button">
      Close
    </div>
  </div>
</div>
