<!-- icon -->
<span class="ui primary search item" data-target="#searchmodal" id="searchbutton">
  <div class="icon search outline"></div>
</span>

<!-- fluid, loading: https://semantic-ui.com/modules/search.html -->
<div class="ui modal" id="searchmodal">
  <div class="header">Search</div>

  <div class="scrolling content">

    <div class="ui form">
      <div class="inline fields">
        <div class="ten wide field">
            <input name="article-search" type="text" id="search-input" placeholder="Enter to Search ....">
            <div class="results"></div>
        </div>
      </div>
      <div id="search-results"><ulclass=""></ul></div>
    </div>

  </div>

  <div class="actions"><div class="ui black deny button">Close</div>
  </div>
</div>
