<div class="social-links">
    <h4 class="ui header">SHARE</h4>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}&amp;src=sdkpreparse"><div class="icon fb outline colored"></div></a>
    <div class="icon twitter outline colored"></div>
    <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
    <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
    <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
    <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
    <!--<li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a></li>-->
</div>