<div class="social-links">
    <h5><strong>SHARE</strong></h5>
    <a href="#"><i class="fa fa-facebook"></i></a>&nbsp;<a href="#"><i class="fa fa-twitter"></i></a>
    <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
    <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
    <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
    <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
    <!--<li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a></li>-->
    <br><br/>
</div>