<div class="four wide column"></div>
<div class="two wide column">
    <img class="ui small image" src="/content/images/2018/01/mail_log.png">
</div>
<div class="four wide column">
    <h4>Live deliberately</h4>
    <p>Resources to help students discover their passions at Penn, in their careers, and beyond.</p>

    <form class="ui form">
        <div class="inline fields">
            <div class="sixteen wide field">
                <input type="text" name="subscriber-email" placeholder="Your email address">
            </div>
            <div class="two wide field">
                <div class="ui secondary basic button">Subscribe</div>
            </div>
        </div>
    </form>
</div>
<div class="six wide column"></div>


<!-- end end widget -->