<div class="centered row">
    <div class="fifteen wide column">
        <div class="ui secondary pointing right menu">
            <a class="active item">SHORTCUTS</a>
        </div>

        <div class="ui grid">
            <div class="stackable doubling three column row">
                <a class="column shortcut" href="//thesign.al/pathways">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_career_guides.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Deconstructing Penn Pathways</div>
                        </div>
                    </div>
                </a>

                <a class="column shortcut" href="//squirrelswithoutmorality.com">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_swm.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Squirrels Without Morality</div>
                        </div>
                    </div>
                </a>

                <a class="column shortcut" href="/tag/event">
                    <div class="ui three column grid middle aligned">
                        <div class="column">
                            <img src="{{asset "style/icons/category_events.svg" }}">
                        </div>
                        <div class="ten wide column">
                            <div class="title">Events</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>