<div class="ui icon message">
    <i class="icon">
        <i class="icon email filled"></i>
    </i>
    <div class="content">
        <h4>Live deliberately</h4>
        <p>Resources to help students discover their passions at Penn, in their careers, and beyond.</p>

        <form class="ui form" action="/subscribe/">
            <div class="inline fields">
                <div class="sixteen wide field">
                    <input type="text" name="subscriber-email" placeholder="Your email address">
                </div>
                <div class="two wide field">
                    <button class="ui secondary basic button" type="submit">Subscribe</button>
                </div>
            </div>
        </form>
    </div>
</div>