<!-- start tag widget -->
<div class="widget">
	<h4 class="widget-title h6">Tag Cloud</h4>
	<div class="content tagcloud">
		{{#get "tags" limit="all" order="name asc"}}{{tags separator="" }}{{/get}}
	</div>
</div>
<!-- end tag widget -->