<div class="centered row">
    <div class="six wide column">
        <h4>Subscribe to The Signal</h4>
        <p>Get the latest posts delivered right to your inbox.</p>

        <form class="ui form">
            <div class="inline fields">
                <div class="sixteen wide field">
                    <input type="text" name="subscriber-email" placeholder="Your email address">
                </div>
                <div class="two wide field">
                    <div class="ui secondary basic button">Subscribe</div>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- end end widget -->