<!-- start tag widget -->
<div class="widget">
	<h4 class="widget-title h6">Text Widget</h4>
	<div class="content about">
		<p>
			It's a suitable place for adding small info about your site. Here you can add any text or html like this <strong>Bold Text</strong> or anything else.
		</p>
		<p>
			All widgets in this footer are reorderable. An email subscription form widget is also available within the theme. Which you can use in place of this text widget.
		</p>
	</div>
</div>
<!-- end tag widget -->