<!-- start tag widget -->



    {{#get "tags" limit="all" order="name asc"}}
        {{#foreach tags}}
            <a class="ui button" href="{{url}}">
                {{name}}
            </a>
        {{/foreach}}
        {{/get}}


<!-- end tag widget -->