@font-face {
    font-family: 'Cerebri Sans';
    src: url('./fonts/cerebrisans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('./fonts/cerebrisans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('./fonts/cerebrisans-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cerebri Sans';
    src: url('./fonts/cerebrisans-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

* {
    font-family: "Cerebri Sans", sans-serif !important;
}

body > * {
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /*padding-top: 1rem;*/
    padding-bottom: 1rem;
    text-align: center;
    margin-bottom: 0px;
    color: #666666;
    background-color: gainsboro;
}

ui.menu {
    font-size: 24px;
    border: none;
    box-shadow: none;
}

.ui.menu .item {
    background: none;
    font-size: 22px;
    font-weight: bold !important;
    margin-bottom: 30px;
    color: black !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.ui.menu .active.item {
    border-bottom: 3px solid black !important;
}

.menu-search {
    margin: 25px 10px !important;

}

/*
.ui.menu .logo {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 1.1rem;
}

.logo-text {
    display: inline-block;
    position: absolute;
    left: 68px;
    top: 1.9rem;
}

.ui.menu .logo-image {
    height: 45px;`
    width: 45px;
    display: inline-block;
    margin-right: 0.4rem;
}*/

.ui.stackable {
    border-bottom: 0px solid transparent;
    margin: 100px;
}


.signal.menu {
    color: #8a8a8a;

    font-weight: bold;
    font-size: 24px;

    margin-bottom: 30px;
}

/*.ui.text.menu {
    text-align: center;
}*/

.ui.card {
    width: 360px;
    height: 490px;

    border-radius: 16px;
    box-shadow: 0 0 30px 2px #e0e0e0;
}

.ui.card > :first-child {
    border-radius: 16px 16px 0 0 !important;
}

.ui.card > .image {
    height: 200px;
}

.ui.card > .image > * {
    object-fit: cover;

    height: 100% !important;
    width: 100% !important;
}

.ui.card > .content > .description {
    margin-bottom: 20px;
}

.ui.card > .content > .header:not(.ui) {
    font-size: 20px;
}

.ui.label {
    background-color: #eeeeee;
}

.extra.content > .tags {
    display: inline-block;
}

.extra.content a.article-type {
    color: #002b80 !important;  /* Dark Blue */
}

.article > .header > img {
    width: 100%;
    height: auto;
}

.article > h1 {
    width: 70%;
    font-size: 36px;
}

