{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
{{> header}}

<!-- start content area -->
<div class="main-content-area ui stackable grid">
    <div class="centered row">
        <div class="fourteen wide column">
            {{> cover-author}}
        </div>
    </div>
    <div class="centered row">
        <div class="fourteen wide column container post-listing">
            {{> loop paged=false content_only=true}}
        </div>
    </div>
</div>

<!-- end content area -->