{{!< default}}
{{> header}}

<div class="ui grid" id="main">
    <!-- Space to breathe *hmm*, then subscribe bar -->
    <div class="column row" id="subscribe-header">
        {{> widget-subscribe}}
    </div>

    <!--featured article bar and article-->
    {{> loop-featured}}

    <br>
    {{> widget-shortcuts}}

    <!-- article loop -->
    <br>
    {{> loop paged=true}}

    <br>
    {{> widget-interviews}}

    <br>
    {{> widget-tagcloud}}
</div>
