{{!< default}}
<div class="ui stackable grid" id="main">

    <!-- Space to breathe *hmm*, then subscribe bar -->
    <div class="column row"></div>
    {{!> widget-subscribe}}

    <!--featured article bar and article-->
    <br><br>
    {{> loop}}
    <br><br><br>
</div>
