{{!< default}}
<div class="ui centered grid">
    <div class="four wide right aligned column">
        {{> social-links}}
    </div>
    <div class="twelve wide center aligned column">
        <img class="ui huge image" src="content/images/2018/01/DSC_4425.jpg">
    </div>
</div>

<div class="ui centered grid">
    <div class="four wide right aligned column">
        <h4>2018</h4>
    </div>
    <div class="four wide right aligned column">
        <img class="ui medium image" src="content/images/2018/01/DSC_4425.jpg">
    </div>
    <div class="eight wide left aligned column">
        <div class="ui basic segment"><p>one</p></div>
    </div>
</div>
<div class="ui centered grid">
    <div class="four wide right aligned column"></div>
    <div class="four wide right aligned column">
        <img class="ui medium image" src="content/images/2018/01/DSC_4425.jpg">
    </div>
    <div class="eight wide left aligned column">
        <div class="ui basic segment"><p>one</p></div>
    </div>
</div>

<div class="ui centered grid">
    <div class="four wide right aligned column">
        <h4>2017</h4>
    </div>
    <div class="four wide right aligned column">
        <img class="ui medium image" src="content/images/2018/01/DSC_4425.jpg">
    </div>
    <div class="eight wide left aligned column">
        <div class="ui basic segment"><p>one</p></div>
    </div>
</div>