{{!< default}}
<div class="ui twelve column centered grid">
    <div class="two wide left aligned column"><h4>MISSION</h4></div>
    <div class="ten wide left aligned column">
        <div class="ui basic segment">
            <p>In 2017, The Signal began as a publication that encouraged the exploration of unconventional career paths and creative passions at Penn. Today, we are a collective of creators, designers, writers, and everything in between, with the goal of enhancing the undergraduate experience for all students. We provide resources to help students discover their passions and live deliberately at Penn, in their careers, and beyond.
            </p>
        </div>
    </div>
</div>

<div class="ui twelve column centered grid">
    <div class="two wide left aligned column"><h4>THE TEAM</h4></div>
    <div class="ten wide left aligned column">
        <div class="ui container">
            <div class="ui stackable grid">
            </div>
        </div>
    </div>
</div>

<div class="ui twelve column centered grid">
    <div class="two wide left aligned column"><h4>FAQ</h4></div>
    <div class="ten wide left aligned column">
        <div class="ui basic segment">
            <div class="ui list">
                <div class="item"><a class="header">I have some follow-up questions for the guests. Can I ask them?</a></div><br/>
                <div class="description" style="padding-left:50px">You can send an email to writers@thesign.al with any question that you might have. We'll try our best to get the response and most likely even edit your question into the article!</div>
                <br/>
                <div class="item"><a class="header">I know a few alumni who would be wonderful additions to this. How can I go about making the introduction?</a></div><br/>
                <div class="description" style="padding-left:50px">If you personally know any interesting alumni who would like to share their story, don't hesitate to reach out to us with an email at writers@thesign.al. We'd love to work with you potentially to come up with questions and if you are up for it, even doing the interview together!</div>
            </div>
        </div>
    </div>
</div>