{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{!> cover-tag}}
<!-- start content area -->

{{> header}}

<div class="ui stackable grid">

  <div class="column row"></div>

  <div class="centered row">
      <div class="twelve wide column">
          <a class="ui label heading" href="/">{{tag.name}}</a>
      </div>

      <div class="fourteen wide column">
          {{#if tag.description}}
              <p class="tag-description">{{tag.description}}</p>
          {{/if}}

          {{> loop}}

          {{> widget-tagcloud}}
      </div>
  </div>




  <!-- we can have tag description as well, but we currently don't. -->
</div>
<!-- end content area -->
