{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{!> cover-tag}}
<!-- start content area -->

{{> header}}

<div class="ui stackable grid">

  <div class="centered row">

      <div class="fourteen wide column" id="tag-row">
          <div id="tag-label">TAG: </div>
          <a class="ui label heading" href="/" id="tag-body">{{tag.name}}</a>
      </div>

      <div class="fourteen wide column" style="height: 50px">

      </div>

      <div class="fourteen wide column">
          {{#if tag.description}}
              <p class="tag-description">{{tag.description}}</p>
          {{/if}}

          {{> loop content_only=true paged=true}}

          {{> widget-tagcloud}}
      </div>
  </div>




  <!-- we can have tag description as well, but we currently don't. -->
</div>
<!-- end content area -->
